.container{
    height: 832px;
    margin-top: 40px;

    grid-template-columns: auto auto auto;
    display: grid;
  
   
}
.gridContainer{
    display: grid;
    grid-template-columns: auto auto auto;
}
.newcontainer{
    height: 832px;
    margin-top: 40px;
    margin-left: 221px;
    grid-template-columns: auto auto auto;
    display: grid;
}